<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href={% static 'home/fonts/icomoon/style.css' %}>

    <link rel="stylesheet" href={% static 'home/css/owl.carousel.min.css' %}>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static 'home/css/bootstrap.min.css' %}>

    <!-- Style -->
    <link rel="stylesheet" href={% static 'home/css/style.css' %}>
    <title>Tea Book</title>
</head>

<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img id="login-image" src={% static 'home/image/login.png' %} alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign In</h3>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group first">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="user_name">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password_name">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <span class="ml-auto"><a style='color:#D97300; text-decoration:none;' href="#" class="forgot-pass">Forgot Password</a></span>
                                </div>
                                {% if error %}
                                    <p>{{ error }}</p>
                                {% endif %}

                                <input style='background-color:#D97300; border-color: #D97300' type="submit" value="Log In" class="btn btn-block btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src={% static 'home/js/jquery-3.3.1.min.js'%}></script>
    <script src={% static 'home/js/popper.min.js'%}></script>
    <script src={% static 'home/js/bootstrap.min.js'%}></script>
    <script src={% static 'home/js/main.js'%}></script>

</body>

</html>

{% comment %} {% static 'home/' %} {% endcomment %}

